.login-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #667eea81 0%, #764ba291 100%);
  z-index: -1;
}

.login-content {
  --background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.login-container {
    width: 100%;
    max-width: 500px;
    padding: 0px;
    margin: 50px auto;
}

.login-header {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid;
}

.login-header h1 {
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 10px;
  color:#fff;
  padding: 10px !important;
}

.login-header p {
  font-size: 16px;
  opacity: 0.9;
}

.login-form {
  background: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.form-item {
  margin-bottom: 20px;
  --background: transparent;
  --border-color: #e0e0e0;
}

.password-toggle {
  --color: #666;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}

.login-btn {
  --background: linear-gradient(135deg, rgb(90, 59, 2) 0%, #073336 100%);
  --border-radius: 8px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.register-link {
  text-align: center;
  margin-top: 30px;
  color: rgb(0, 0, 0);
}

.register-link p {
  margin: 0;
}

.register-link a {
  color: #073336;
  font-size: 21px;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 81%);
  filter: blur(150px);
  --webkit-backdrop-filter: blur(230);
  z-index: 0;
}
.video-bg{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  filter: blur(5px);
  object-fit: cover;
}